html {
	font-family: "Droid Serif";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bangers";
}

h1 {
	font-size: 5em;
	text-align: center;
}

main {
	text-align: center;
}

canvas.comic {
	box-shadow: 0 0 15px #000000;
}

footer {
	text-align: center;
	margin-top: 3em;
}